@use "../../styles/variables.scss";

.model__container {
  padding-top: 2rem;
  row-gap: 2.5rem !important;
  & .model__content {
    position: relative;
    justify-self: center;
    & .model__img {
      width: 280px;
    }
    & .model__tooltip {
      position: absolute;
      &.model__tooltip-1 {
        top: 5.5rem;
        left: 5rem;
      }
      &.model__tooltip-2 {
        top: 1rem;
        right: 1.5rem;
      }
      &.model__tooltip-3 {
        bottom: 1.8rem;
        left: 3.5rem;
      }
      &.model__tooltip-4 {
        bottom: 7rem;
        right: 5rem;
      }
      &.model__tooltip-1,
      &.model__tooltip-2 {
        transform: scaleX(-1);
      }
      &.model__tooltip-1 .model__tooltip-text,
      &.model__tooltip-2 .model__tooltip-text {
        transform: translate(60px, -40px) scaleX(-1);
      }
      & .model__tooltip-img {
        width: 60px;
      }
      & .model__tooltip-text {
        background: variables.$gradient-color;
        padding: 0.25rem 0.75rem;
        border-radius: 4rem;
        color: variables.$white-color;
        font-size: variables.$small-font-size;
        font-weight: variables.$font-medium;
        position: absolute;
        transform: translate(60px, -40px);
        white-space: nowrap;
      }
    }
  }
  & .model__button {
    justify-self: center;
  }
}
