@import "../../styles/variables.scss";

.model__container {
  padding-top: 2rem;
  row-gap: 2.5rem !important;
  & .model__content {
    position: relative;
    justify-self: center;
    & .model__img {
      width: 280px;
      @media screen and (min-width: 340px) {
        width: 210px;
      }
      @media screen and (min-width: 768px) {
        width: 250px;
      }
      @media screen and (min-width: 1150px) {
        width: 500px;
      }
    }
    & .model__tooltip {
      position: absolute;
      &.model__tooltip-1 {
        top: 5.5rem;
        left: 5rem;
        & img {
          transform: scaleX(1);
          @media screen and (min-width: 340px) {
            transform: scaleX(-1);
          }
        }
        @media screen and (min-width: 340px) {
          top: 3rem;
          left: 4rem;
          & .model__tooltip-text {
            transform: translate(-102px, -40px);
          }
        }
        @media screen and (min-width: 1150px) {
          top: 7.5rem;
          left: 8.5rem;
        }
      }
      &.model__tooltip-2 {
        top: 1rem;
        @media screen and (min-width: 340px) {
          top: 1.5rem;
          right: 3.5rem;
          & .model__tooltip-text {
            left: 10rem;
          }
        }
        @media screen and (min-width: 768px) {
          right: 1.5rem;
        }
        @media screen and (min-width: 1150px) {
          transform: initial;
          top: 6.5rem;
          right: -1.5rem;
          & img {
            transform: scaleX(1);
          }
        }
      }
      &.model__tooltip-3 {
        bottom: 1.8rem;
        left: 3.5rem;
        & img {
          transform: scaleX(-1);
        }
        @media screen and (min-width: 340px) {
          bottom: 2rem;
          left: 3rem;
          & .model__tooltip-text {
            left: -9.5rem;
          }
        }
        @media screen and (min-width: 1150px) {
          left: 0;
          bottom: 6rem;
          & .model__tooltip-text {
            left: 0;
          }
        }
      }
      &.model__tooltip-4 {
        bottom: 7rem;
        right: 5rem;
        @media screen and (min-width: 340px) {
          right: 4rem;
          bottom: 6rem;
        }
        @media screen and (min-width: 1150px) {
          bottom: 10rem;
          right: 7rem;
        }
      }
      &.model__tooltip-1,
      &.model__tooltip-2 {
        transform: scaleX(-1);
      }
      &.model__tooltip-1 .model__tooltip-text,
      &.model__tooltip-2 .model__tooltip-text {
        transform: translate(60px, -40px) scaleX(-1);
        @media screen and (min-width: 340px) {
          transform: translate(-102px, -40px) scaleX(1);
        }
      }
      @media screen and (min-width: 1150px) {
        &.model__tooltip-1 .model__tooltip-text {
          transform: translate(-136px, -56px) scaleX(1);
        }
      }
      @media screen and (min-width: 1150px) {
        &.model__tooltip-2 .model__tooltip-text {
          transform: translate(-77px, -56px);
        }
      }
      @media screen and (min-width: 1150px) {
        &.model__tooltip-3 .model__tooltip-text {
          transform: translate(-136px, -56px) scaleX(1);
        }
      }
      & .model__tooltip-img {
        width: 60px;
        @media screen and (min-width: 1150px) {
          width: initial;
        }
      }
      & .model__tooltip-text {
        background: $gradient-color;
        padding: 0.25rem 0.75rem;
        border-radius: 4rem;
        color: $white-color;
        font-size: $small-font-size;
        font-weight: $font-medium;
        position: absolute;
        transform: translate(60px, -40px);
        white-space: nowrap;
        @media screen and (min-width: 340px) {
          font-size: $smaller-font-size;
        }
        @media screen and (min-width: 1150px) {
          font-size: $normal-font-size-lg;
          padding: 0.5rem 1.25rem;
          transform: translate(82px, -56px);
        }
      }
    }
  }
  & .model__button {
    justify-self: center;
  }
}
