@use "../../styles/variables.scss";

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background: variables.$gradient-color;
  display: inline-flex;
  color: variables.$white-color;
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 0.25rem;
  z-index: variables.$z-tooltip;
  transition:
    bottom 0.4s,
    transform 0.4s;
  &:hover {
    transform: translateY(-0.5rem);
  }
  &.show-scroll {
    bottom: 3rem;
  }
  @media screen and (min-width: 1150px) {
    right: 3rem;
  }
}
