@use "mixins";
@import "variables";

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  color: $white-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(23, 4%, 30%);
  &:hover {
    background-color: hsl(23, 4%, 40%);
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  @include mixins.container;
}

.grid {
  @include mixins.grid;
}

.section {
  @include mixins.section;
}

.section__title {
  @include mixins.section-title;
}

.main {
  @include mixins.main;
}

.button {
  @include mixins.buttons;
}
