/*=============== MIXINS ===============*/
@use "variables";

@mixin container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  @media screen and (min-width: 1150px) {
    margin-inline: auto;
  }
}

@mixin grid {
  display: grid;
  gap: 1.5rem;
}

@mixin section {
  padding-block: 5rem 1rem;
}

@mixin section-title {
  font-size: variables.$h2-font-size;
}

@mixin main {
  overflow: hidden;
}
