@use "../../styles/variables.scss";

.home__container {
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem !important;
  & .home__content {
    position: relative;
    display: grid;
    justify-self: center;
    & .home__img {
      width: 220px;
    }
    & .home__title {
      font-size: variables.$biggest-font-size;
      display: flex;
      column-gap: 0.25rem;
      color: variables.$first-color;
      position: absolute;
      top: -2rem;
      justify-self: center;
      & span:nth-child(2) {
        z-index: -1;
      }
    }
    & .home__tooltip {
      position: absolute;
      top: -0.5rem;
      right: 1.5rem;
      & .home__tooltip-img {
        width: 60px;
      }
      & .home__tooltip-text {
        background: variables.$gradient-color;
        padding: 0.25rem 0.75rem;
        color: variables.$white-color;
        font-weight: variables.$font-medium;
        border-radius: 4rem;
        font-size: variables.$small-font-size;
        position: absolute;
        transform: translate(60px, -40px);
        white-space: nowrap;
      }
    }
  }
  & .home__social {
    display: grid;
    justify-items: center;
    row-gap: 6rem;
    position: absolute;
    top: 9rem;
    left: -1.5rem;
    & .home__social-text {
      position: relative;
      rotate: 90deg;
      font-size: variables.$small-font-size;
      font-weight: variables.$font-medium;
      &::after {
        content: "";
        width: 48px;
        height: 1px;
        background-color: variables.$text-color;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-block: auto;
        right: -64px;
      }
    }
    & .home__social-links {
      display: grid;
      row-gap: 0.75rem;
      & .home__social-link {
        font-size: 1.25rem;
        color: variables.$text-color;
        transition: color 0.4s;
        &:hover {
          color: variables.$first-color;
        }
      }
    }
  }
  & .home__button {
    justify-self: center;
  }
}
