@use "../../styles/variables.scss";

.home__container {
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem;
  & .home__content {
    position: relative;
    display: grid;
    justify-self: center;
    & .home__img {
      width: 220px;
    }
    & .home__title {
      font-size: variables.$biggest-font-size;
      display: flex;
      column-gap: 0.25rem;
      color: variables.$first-color;
      position: absolute;
      top: -2rem;
      justify-self: center;
      & span:nth-child(2) {
        z-index: -1;
      }
    }
    & .home__tooltip {
      position: absolute;
      top: -0.5rem;
      right: 1.5rem;
      & .home__tooltip-img {
        width: 60px;
      }
      & .home__tooltip-text {
        background: variables.$gradient-color;
        padding: 0.25rem 0.75rem;
        color: variables.$white-color;
        font-weight: variables.$font-medium;
        border-radius: 4rem;
        font-size: variables.$small-font-size;
        position: absolute;
        transform: translate(60px, -40px);
        white-space: nowrap;
      }
    }
  }
}
