@import "../../styles/variables.scss";

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  & .nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1150px) {
      height: calc($header-height + 2rem);
    }
    & .nav__logo {
      font-size: $h2-font-size;
      font-weight: $font-semi-bold;
      color: $first-color;
    }
    & .nav__toggle,
    & .nav__close {
      display: flex;
      font-size: 1.5rem;
      color: $white-color;
      cursor: pointer;
      @media screen and (min-width: 1150px) {
        display: none;
      }
    }

    /* Navigation for mobile devices */
    @media screen and (max-width: 1150px) {
      & .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(23, 12%, 4%, 0.2);
        width: 100%;
        padding-block: 5.5rem 4.5rem;
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
        transition: top 0.4s;
      }
    }
    & .nav__list {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      @media screen and (min-width: 1150px) {
        flex-direction: row;
        column-gap: 4.5rem;
      }
    }
    & .nav__link {
      color: $white-color;
      font-weight: $font-medium;
      transition: color 0.4s;
      &:hover {
        color: $first-color;
      }
      &.active-link {
        color: $first-color;
      }
    }
    & .nav__close {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }
    & .show-menu {
      top: 0;
    }
  }
  &.blur-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(23, 12%, 4%, 0.2);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    left: 0;
    z-index: -1;
  }
}
