@use "../../styles/variables.scss";

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: variables.$z-fixed;
  & .nav {
    height: variables.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .nav__logo {
      font-size: variables.$h2-font-size;
      font-weight: variables.$font-semi-bold;
      color: variables.$first-color;
    }
  }
}
